.overlay-container {
    position: absolute;
    z-index: 1;
    height: 0;
    opacity: 0;
    transition: height 0ms, opacity 150ms ease-in-out;
    &:focus {
        height: auto;
        opacity: 1;
    }
}