$gray-100: #f8f8f8;
$gray-400: #cecece;
$gray-500: #adadad;
$white: #fff;
$black: #000;
$blue: #41B0EE;
$blue-dark: #0092E1;
$blue-darker: #007AC7;
$transition-time: 200ms;
@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

@mixin transform($props) {
    -webkit-transform: $props;
    -moz-transform: $props;
    -o-transform: $props;
    -ms-transform: $props;
    transform: $props;
}

@mixin user-select($props) {
    -webkit-user-select: $props;
    -moz-user-select: $props;
    -ms-user-select: $props;
    user-select: $props;
}

.form-group.custom-toggle {
    display: inline-flex;
    align-items: center;
    margin: 0;
    height: 40px;
    padding: 10px 15px;
    .toggle-btn {
        display: inline-flex;
        align-items: center;
        height: 20px;
        .toggle {
            height: 20px;
            display: none;
            +.toggle-switch {
                background-color: $gray-500;
                @include transition(all .4s ease);
                outline: 0;
                width: 40px;
                height: 20px;
                position: relative;
                border-radius: 20px;
                cursor: pointer;
                @include user-select(none);
                margin: 0.5px 0 0;
                will-change: background-color;
                @include transition(background-color $transition-time ease);
                display: inline-flex;
                align-items: center;
                >.toggle-nob {
                    margin-left: 1px;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: $gray-100;
                    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
                    border: 3px solid $white;
                    @include transition(margin-left $transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275));
                }
                &:hover {
                    >.toggle-nob {
                        background-color: $blue;
                    }
                }
                &:active {
                    box-shadow: inset 0 0 0 2em $gray-400;
                }
            }
            &:checked+.toggle-switch {
                background-color: $blue-darker;
                &:active {
                    box-shadow: none;
                }
                >.toggle-nob {
                    margin-left: 21px;
                }
            }
        }
    }
    .toggle-label {
        display: inline-block;
        height: 20px;
        position: relative;
        margin-left: 10px;
        color: $black;
        line-height: 1;
    }
}

// Fix for Firefox
@-moz-document url-prefix() {
    .form-group.custom-toggle {
        .toggle-btn {
            .toggle {
                &:checked+.toggle-switch {
                    &:after {
                        margin-left: 19.5px;
                    }
                }
            }
        }
    }
}