@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

.form-group.custom-toggle {
    > .custom-control.custom-slide-toggle {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        > .custom-control-input {
            &:disabled:not(:checked) {
                & + label.custom-control-label {
                    &:before {
                        background-color: $gray-300;
                    }
                }
            }
            &:checked:disabled {
                & + label.custom-control-label {
                    &:before {
                        background-color: $gray-500;
                    }
                }
            }
            &:not(:disabled) {
                & + label.custom-control-label {
                    cursor: pointer;
                }
            }
        }
        > .custom-control-label {
            &:before,
            &:after {
                top: 2px;
            }
            &:after {
                transition: left 200ms ease-in-out;
            }
        }
    }
}
