@import "./variable";
.route-template,
.about-page {
    padding: 5px 20px 40px;
    min-width: 320px;
    > .title {
        font-size: $large;
        border-bottom: 1px solid $gray-400;
        padding: 5px 0px;
        margin-bottom: 10px;
    }
    > .desc {
        color: $gray-600;
        margin-bottom: 30px;
    }
    .info-holder {
        > .title {
            font-size: $large;
            border-bottom: 1px solid $gray-400;
            padding: 5px 0px;
        }
        .info {
            > h2 {
                font-size: $large;
                border-bottom: 1px solid $gray-400;
                padding: 5px 0px;
                margin-bottom: 10px;
            }
            > .md-file {
                h2 {
                    font-size: $large;
                    border-bottom: 1px solid $gray-400;
                    padding: 5px 0px;
                    margin-bottom: 10px;
                }
                table {
                    display: table;
                    border-spacing: 2px;
                    border-color: $gray-600;
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 1rem;
                    background-color: transparent;
                    border: solid 1px $gray-300;
                    border-collapse: collapse;
                    thead {
                        display: table-header-group;
                        vertical-align: middle;
                        border-color: inherit;
                        background: $gray-900;
                        color: $white;
                        tr {
                            th {
                                padding: 10px;
                            }
                        }
                    }
                    tbody {
                        display: table-row-group;
                        vertical-align: middle;
                        border-color: inherit;
                    }
                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;
                        td {
                            padding: 0.5rem 0.75rem;
                            vertical-align: top;
                            border-top: 1px solid $gray-300;
                        }
                    }
                }
                > div {
                    hr,
                    p,
                    h2 {
                        &:nth-of-type(1) {
                            display: none !important;
                        }
                    }
                }
            }
            > .result {
                position: relative;
                max-width: 300px;
                code,
                > p {
                    display: block;
                    padding: 5px 0px;
                }
                &.wide {
                    max-width: none;
                    width: 100%;
                }
                &.chart {
                    height: 300px;
                    min-width: 600px;
                }
            }
        }
    }
}
