# Node
node_modules
npm-debug.log

# JetBrains
.idea/

# VS Code - everything but the prettier config files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Temporary files and folders
dist
tmp
build
coverage
docs
