@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

$transition-time: 80ms;
$box-shadow: rgba(85, 85, 85, 0.4) 0 2px 5px;
$disabled-selected: $gray-500;
$disabled-unselected: #cccccc;
$disabled-thumb-bg: #9a9a9a;
$disabled-thumb-border-color: #8c8c8c;
$slider-width-normal: 56px;
$slider-width-smaller: 24px;

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

@mixin transform($props) {
    -webkit-transform: $props;
    -moz-transform: $props;
    -o-transform: $props;
    transform: $props;
}

@mixin user-select($props) {
    -webkit-user-select: $props;
    -moz-user-select: $props;
    -ms-user-select: $props;
    user-select: $props;
}

@mixin track-styles {
    appearance: none;
    background: transparent;
    color: transparent;
    border: 0;
    outline: 0;
    box-shadow: 0;
    height: 5px;
}

@mixin thumb-styles-normal {
    appearance: none;
    width: $slider-width-normal;
    height: 32px;
    background: transparent;
    border-radius: 4px;
    border: 0;
    outline: 0;
    box-shadow: 0;
    transform: translateY(-14px);

    &:not(:disabled) {
        cursor: pointer;
    }
}

@mixin thumb-styles-smaller {
    @include appearance(none);
    @include thumb-styles-normal();
    width: $slider-width-smaller;
    border-radius: 2px;
}

@mixin setTheme($dark, $light) {
    .custom-slider-track {
        .custom-slider-slider-after {
            background-color: $light;
        }
        .custom-slider-thumb {
            background-color: $light;
            border: 0;
            &::after {
                background-color: $dark;
            }
        }
    }
}

@mixin tooltip-theme($color) {
    background-color: $color;
    &:after {
        border-color: $color transparent transparent transparent;
    }
}

.form-group.custom-slider {
    padding-right: 5px;
    .input-field {
        position: relative;
        input[type="range"] {
            position: relative;
            display: inline-block;
            width: 100%;
            appearance: none;
            background: transparent;
            cursor: pointer;
            height: 15px;
            margin-top: 10px;
            margin-bottom: 7px;
            // Thumb
            &::-webkit-slider-thumb {
                @include thumb-styles-normal();
            }
            &::-moz-range-thumb {
                @include thumb-styles-normal();
                transform: none;
            }
            &::-ms-thumb {
                @include thumb-styles-normal();
            }
            // Track
            &::-webkit-slider-runnable-track {
                @include track-styles();
            }
            &::-moz-range-track {
                @include track-styles();
            }
            &::-ms-track {
                @include track-styles();
            } // Tooltip
            &::-ms-tooltip {
                display: none;
            } // IE Specific
            &::-ms-fill {
                background-color: transparent;
            }
            &::-ms-fill-lower {
                background-color: transparent;
                border: 0;
            }
            &::-ms-ticks,
            &::-ms-ticks-after,
            &::-ms-ticks-after {
                display: none;
                color: transparent;
            }
            &:not(:disabled) {
                &:focus {
                    outline: none;
                    & + .custom-slider-holder {
                        > .custom-slider-track {
                            > .custom-slider-thumb {
                                box-shadow: $box-shadow, 0px 0 0px 2px rgba($blue-dark, 0.45);
                            }
                        }
                    }
                }
                &:hover {
                    & + .custom-slider-holder {
                        > .custom-slider-track {
                            > .custom-slider-thumb {
                                @include transform(translateX(-50%) scale(1.1));
                            }
                        }
                    }
                }
                &:active {
                    & + .custom-slider-holder {
                        > .custom-slider-track {
                            > .custom-slider-thumb {
                                @include transform(translateX(-50%) scale(1.05));
                                .custom-slider-preview:not(.always-show) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .custom-slider-holder {
            position: absolute;
            top: 15px;
            pointer-events: none;
            padding: 0 28px;
            right: 0;
            left: 0;
            height: 4px;
            .custom-slider-track {
                position: relative;
                width: 100%;
                height: 5px;
                border-radius: 8px;
                pointer-events: none;
                z-index: 2;
                top: 50%;
                @include transform(translateY(-50%));
                cursor: pointer;
                [class^="custom-slider-slider-"] {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    z-index: 2;
                }
                .custom-slider-slider-before {
                    left: 0px;
                    width: calc(100% + #{$slider-width-normal});
                    margin: 0 -28px;
                    background-color: $gray-500;
                }
                .custom-slider-slider-after {
                    will-change: width;
                    transform-origin: left;
                    margin: 0 -28px;
                    transform: rotateY(0deg);
                }
                .custom-slider-thumb {
                    position: relative;
                    height: 32px;
                    width: $slider-width-normal;
                    background-color: $blue-dark;
                    border-radius: 4px;
                    top: -14px;
                    transform-origin: center;
                    @include transform(translateX(-50%));
                    pointer-events: none;
                    box-shadow: $box-shadow;
                    will-change: left;
                    @include transition((transform $transition-time ease-in-out, box-shadow $transition-time ease-in));
                    z-index: 2;
                    .custom-slider-preview {
                        pointer-events: none;
                        font-size: 14px;
                        padding: 0 10px;
                        display: none;
                        height: 25px;
                        white-space: nowrap;
                        position: absolute;
                        top: -30px;
                        text-align: center;
                        color: $white;
                        border-radius: 5px;
                        user-select: none;
                        @include transform(translateX(-49%));
                        left: 50%;
                        &:after {
                            content: " ";
                            width: 0px;
                            height: 0px;
                            border: 8px solid;
                            position: absolute;
                            bottom: -15px;
                            left: 50%;
                            @include transform(translateX(-50%));
                        }
                        &.always-show {
                            display: block;
                        }
                        &.primary {
                            @include tooltip-theme($blue-darker);
                        }
                        &.inverted {
                            @include tooltip-theme($black);
                        }
                        &.success {
                            @include tooltip-theme($green-darker);
                        }
                        &.danger {
                            @include tooltip-theme($red-darker);
                        }
                        &.warning {
                            @include tooltip-theme($yellow-darker);
                        }
                        &.purple {
                            @include tooltip-theme($purple-darker);
                        }
                    }
                    [class*="custom-slider-icon-"] {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        svg {
                            width: 12px;
                            fill: $white;
                        }
                    }
                    .custom-slider-icon-left {
                        left: 12px;
                    }
                    .custom-slider-icon-right {
                        right: 12px;
                    }
                }
                .custom-slider-label {
                    position: absolute;
                    top: 20px;
                    font-size: 12px;
                    white-space: nowrap;
                    @include transform(translateX(-46%));
                    &.show-ticks {
                        &:before {
                            content: "|";
                            position: absolute;
                            left: 50%;
                            @include transform(translateX(-50%));
                            top: -12px;
                            font-size: 8px;
                            line-height: 1;
                            font-weight: bold;
                        }
                    }
                }
                &.with-transitions {
                    .custom-slider-slider-after {
                        @include transition((width $transition-time ease-out, transform $transition-time linear));
                    }
                    .custom-slider-thumb {
                        @include transition((left $transition-time ease-out, transform $transition-time ease-in-out, box-shadow $transition-time ease-in));
                    }
                }
            }
        }
        &.has-labels {
            input[type="range"] {
                margin-bottom: 30px;
            }
        }

        &.smaller {
            input[type="range"] {
                // Thumb
                &::-webkit-slider-thumb {
                    @include thumb-styles-smaller();
                }
                &::-moz-range-thumb {
                    @include thumb-styles-smaller();
                    transform: none;
                }
                &::-ms-thumb {
                    @include thumb-styles-smaller();
                }
            }

            .custom-slider-holder {
                padding: 0 12px;
                .custom-slider-track {
                    height: 4px;
                    .custom-slider-slider-before {
                        width: calc(100% + #{$slider-width-smaller});
                        margin: 0 -12px;
                    }
                    .custom-slider-slider-after {
                        margin: 0 -12px;
                    }
                    .custom-slider-thumb {
                        width: $slider-width-smaller;
                        height: 24px;
                        top: -10px;
                    }
                }
            }
        }
    }
    &.disabled {
        > div.input-field {
            > input[type="range"] {
                cursor: default;
            }
            > div.custom-slider-holder {
                > div.custom-slider-track {
                    > div.custom-slider-slider-before {
                        background-color: $disabled-unselected;
                        &:before {
                            background-color: $disabled-unselected;
                        }
                    }
                    > div.custom-slider-slider-after {
                        background-color: $disabled-selected;
                        &:after {
                            background-color: $disabled-selected;
                        }
                    }
                    > div.custom-slider-thumb {
                        background-color: $disabled-thumb-bg;
                        border-color: $disabled-thumb-border-color;
                    }
                }
            }
        }
    }
    .alert {
        padding: 0px 2px;
        margin: 0;
        &.alert-danger {
            color: $red;
            background: none;
            border: none;
            border-radius: 0px;
            width: 100%;
        }
    } // Themes
    .input-field .custom-slider-holder {
        &.primary {
            @include setTheme($blue-darker, $blue-dark);
        }
        &.inverted {
            @include setTheme($black, $black);
        }
        &.success {
            @include setTheme($green-darker, $green-dark);
        }
        &.danger {
            @include setTheme($red-darker, $red-dark);
        }
        &.warning {
            @include setTheme($yellow-darker, $yellow-dark);
        }
        &.purple {
            @include setTheme($purple-darker, $purple-dark);
        }
    }
}

// IE
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-group.custom-slider {
        .input-field {
            input[type="range"] {
                padding: 0;
            }
        }
    }
}

@-moz-document url-prefix() {
    .form-group.custom-slider {
        .input-field {
            input[type="range"] {
                padding: 0;
            }
        }
    }
}
