@import "../colours";
$form-element-height: 44px;
$checkbox-size: 16px;
$checkbox-padding-left: 40px;
$transition-time: 200ms;

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}
.form-group.custom-checkbox {
    > .input-field {
        > .custom-control {
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 0;
            height: $form-element-height;
            > .custom-control-label,
            > .custom-control-input {
                user-select: none;
            }
            > .custom-control-input {
                left: 13px;
                &:focus,
                &:active {
                    & + label {
                        box-shadow: inset 0 0 0 0.1rem rgba(65, 176, 238, 0.5);
                    }
                }
                &:disabled ~ .custom-control-label {
                    > .checkbox-description {
                        color: $gray-400;
                    }
                }
                &:not(:disabled) {
                    cursor: pointer;
                    & ~ .custom-control-label {
                        cursor: pointer;
                    }
                }
            }
            > .custom-control-label {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: $checkbox-padding-left;
                padding-right: 16px;
                &:before,
                &:after {
                    left: ($checkbox-padding-left / 2) - ($checkbox-size / 2);
                    top: ($form-element-height / 2) - ($checkbox-size / 2);
                }
                > .checkbox-description {
                    color: $gray-600;
                    display: inline-block;
                    margin-left: 8px;
                }
            }
        }
    }
    &.inline {
        display: inline-block;
        &:not(:first-child) {
            > .custom-control {
                margin-left: 15px;
            }
        }
    }
    &.condensed {
        margin: 0;
    }
}
