@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

.custom-inline-link {
    color: $blue-dark;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: $blue;
    }
}
