$blue: #41b0ee;
$darkBlue1: #0092e1;
$darkBlue2: #007ac7;
$text: #444444;
$white: #ffffff;
$grey: #cecece;
$grey-dark: #494949;
$grey6: #999999;
$grey7: #b3b3b3;
$grey8: #e6e6e6;
$grey9: #f6f6f6;
$red: #FF0000;
@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}
.form-group.date-picker {
    .input-field {
        .date-wrapper {
            .react-date-picker,
            .react-date-picker.react-date-picker--closed {
                width: 100%;
                .react-date-picker__wrapper {
                    background: $white;
                    width: 100%;
                    height: 44px;
                    min-width: 200px;
                    min-height: 44px;
                    color: $text;
                    border-radius: 4px;
                    border-color: $grey6;
                    @include transition(border-color 400ms);
                    &:hover {
                        border-color: $blue;
                        background-color: white;
                    }
                    &:focus-within {
                        border-color: $darkBlue2;
                        box-shadow: none;
                        background-color: white;
                        &:active {
                            border-color: $darkBlue2;
                            box-shadow: none;
                            background-color: white;
                        }
                    }        
                    .react-date-picker__inputGroup {
                        height: 44px;
                        padding: 0 5px 0px 10px;
                    }
                    .react-date-picker__button {
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                        width: 40px;
                        >svg {
                            fill: $blue;
                            width: 16px;
                            height: 16px;
                            margin: auto;
                        }
                        &:hover,
                        &:active {
                            background-color: $blue;
                            >svg  {
                                fill: $white;
                            }
                        }
                    }
                }

                &.react-date-picker--disabled {
                    .react-date-picker__wrapper {
                        border-color: $grey7;    
                        background-color: $grey9;
                        .react-date-picker__button {
                            background-color: $grey9;
                            >svg {
                                fill: $grey7;
                            }
                        }
                    }
                }    
            }
            .react-date-picker__calendar .react-calendar {
                border-radius: 4px;
                border: 1px solid $grey;
            }
            .react-date-picker__calendar--above-label {
                top: 100%;
            }
        }
        &.has-error {
            .date-wrapper {
                .react-date-picker {
                    .react-date-picker__wrapper {
                        border: 1px solid $red;
                    }
                }
            }
            .alert {
                opacity: 1;
                margin-top: -2px;
            }
        }
        .alert {
            opacity: 0;
            margin: 0;
            padding: 0;
            @include transition((opacity 200ms, margin 200ms));
            &.alert-danger {
                color: $red;
                background: none;
                border: none;
                border-radius: 0px;
                width: 100%;
                padding-left: 4px;
            }
        }
    }
}