@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

.modal {
    &.show {
        display: block;
    }
    > .modal-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba($black, 0.6);
        z-index: -1;
    }
}
