$modal-sm-width: 300px;
$modal-md-width: 500px;
$modal-lg-width: 800px;

div.seb.modal,
div.seb.modal.modal-aside {
    display: flex;
    justify-content: center;
    height: 0;
    background-color: rgba(black, 0.6);
    transition: opacity 200ms linear;
    &.show {
        animation: fade-in-modal-container 200ms forwards;
    }
    &.hide {
        animation: fade-out-modal-container 400ms forwards;
    }
    > .modal-dialog {
        margin: 0;
        animation: none;
    }
    &.modal-centered {
        align-items: center;
    }
}

/** Normal Modal */
div.seb.modal:not(.modal-aside):not(.modal-fullscreen) {
    > .modal-dialog {
        height: max-content;
        &:not(.modal-lg):not(.modal-sm) {
            @media (min-width: 576px) {
                width: $modal-md-width;
            }
        }
        &.modal-lg {
            @media (min-width: 576px) {
                width: $modal-lg-width;
            }
        }
        &.modal-sm {
            @media (min-width: 576px) {
                width: $modal-sm-width;
            }
        }
    }
    &:not(.modal-centered) {
        > .modal-dialog {
            @media (min-width: 576px) {
                margin-top: 1.75rem;
            }
        }
    }
    &.show > .modal-dialog {
        animation: modal-slide-down 400ms forwards;
    }
    &.hide > .modal-dialog {
        animation: modal-slide-up 400ms forwards;
    }
}
/** Aside Modal */
div.seb.modal.modal-aside {
    > .modal-dialog {
        position: absolute;
    }
    &.modal-aside-right {
        &.show > .modal-dialog {
            animation: modal-slide-in-right 400ms forwards;
        }
        &.hide > .modal-dialog {
            animation: modal-slide-out-right 400ms forwards;
        }
    }
    &.modal-aside-left {
        &.show > .modal-dialog {
            animation: modal-slide-in-left 400ms forwards;
        }
        &.hide > .modal-dialog {
            animation: modal-slide-out-left 400ms forwards;
        }
    }
}
/** Fullscreen Modal */
div.seb.modal.modal-fullscreen {
    > .modal-dialog {
        position: absolute;
        left: 0;
    }
}

@keyframes fade-in-modal-container {
    0% {
        display: none;
        height: 0;
        opacity: 0;
    }
    1% {
        display: flex;
        height: 100%;
        opacity: 0;
    }
    100% {
        display: flex;
        height: 100%;
        opacity: 1;
    }
}

@keyframes fade-out-modal-container {
    0% {
        display: flex;
        height: 100%;
        opacity: 1;
    }
    99% {
        display: flex;
        height: 100%;
        opacity: 0;
    }
    100% {
        display: none;
        height: 0;
        opacity: 0;
    }
}

@keyframes modal-slide-down {
    0% {
        transform: translate3d(0, -30%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes modal-slide-up {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -30%, 0);
    }
}

@keyframes modal-slide-in-right {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes modal-slide-out-right {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes modal-slide-in-left {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes modal-slide-out-left {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
