@import "../../node_modules/@sebgroup/bootstrap/scss/variables";
$backdrop-background: rgba(0, 0, 0, 0.7);
$dialogue-background: $white;
$material-box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
$header-font-size: 24px;
$transition-time: 300ms;
$close-button-size: 15px;

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

@mixin animation($props) {
    -webkit-animation: $props;
    -moz-animation: $props;
    -o-animation: $props;
    animation: $props;
}

.custom-dialogue {
    .dialogue-container {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 20;
        overflow: hidden;
        background-color: $backdrop-background;
        transform: translateY(100%);
        opacity: 0;
        .dialogue {
            display: block;
            position: relative;
            border-radius: 3px;
            color: $black;
            background: $dialogue-background;
            width: 512px;
            overflow: hidden;
            z-index: 21;
            top: 45%;
            opacity: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(-50%);
            @include transition($transition-time);
            box-shadow: $material-box-shadow;
            > .dialogue-header {
                position: relative;
                text-align: center;
                font-size: $header-font-size;
                line-height: 1;
                padding: 16px;
                font-weight: 500;
            }
            > .dialogue-desc {
                position: relative;
                overflow: auto;
                padding: 16px;
                padding-bottom: 32px;
            }
            > .dialogue-footer {
                position: relative;
                text-align: right;
                padding: 16px;
                .dialogue-action {
                    min-width: 120px;
                    display: inline-block;
                    .dialogue-button {
                        min-width: 120px;
                        font-size: $font-size-sm;
                    }
                    &:first-child {
                        padding-right: 16px;
                    }
                }
            }
            &.with-desc {
                .dialogue-header {
                    text-align: left;
                    border-bottom: 1px solid $gray-300;
                }
            }
            &.with-close {
                > .dialogue-header {
                    padding-right: $close-button-size * 3;
                }
                > :first-child.dialogue-desc {
                    padding-right: $close-button-size * 3;
                }
                > :first-child.dialogue-footer {
                    margin-top: 18px * 2;
                }
            }
            > .close-button {
                position: absolute;
                display: inline-block;
                right: 15px;
                top: 18px;
                height: $close-button-size;
                width: $close-button-size;
                cursor: pointer;
                > svg {
                    display: block;
                    transition: fill 200ms;
                }
                &:hover {
                    > svg {
                        fill: $gray-600;
                    }
                }
                &:active {
                    > svg {
                        fill: $black;
                    }
                }
            }
        }
    }
}

// Tablet size
@media only screen and (max-width: 768px) {
    .custom-dialogue {
        .dialogue-container {
            .dialogue {
                width: 500px;
                > .contents .input-holder .label-text {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .custom-dialogue {
        .dialogue-container {
            .dialogue {
                width: 90%;
            }
        }
    }
}

@media only screen and (min-width: 421px) {
    .custom-dialogue {
        &.open-dialogue {
            .dialogue-container {
                @include animation(container-fade-in $transition-time forwards);
                .dialogue {
                    top: 50%;
                    opacity: 1;
                }
            }
        }
        &.close-dialogue {
            .dialogue-container {
                @include animation(container-fade-out $transition-time forwards);
            }
        }
    }
}

// Standard phone size
@media only screen and (max-width: 420px) {
    .custom-dialogue {
        &.open-dialogue {
            .dialogue-container {
                @include animation(container-fade-in $transition-time forwards);
                .dialogue {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
        &.close-dialogue {
            .dialogue-container {
                @include animation(container-fade-out $transition-time * 2 forwards);
            }
        }
        .dialogue-container {
            .dialogue {
                top: 0;
                left: 0;
                right: 0;
                width: auto;
                opacity: 0;
                transform: translateY(-50%);
                border-radius: 0;
                transition: all $transition-time;
                > .dialogue-footer {
                    .dialogue-action {
                        width: 50%;
                        &:first-child {
                            padding-right: 8px;
                        }
                        &:last-child {
                            padding-left: 8px;
                        }
                        .dialogue-button {
                            width: 100%;
                            min-width: 0;
                        }
                        &:first-child:last-child {
                            width: 100%;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

// Smallest phone screen
@media only screen and (max-width: 375px) {
    .custom-dialogue {
        .dialogue-container {
            .dialogue {
                > .dialogue-footer {
                    button.btn.dialogue-button {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@keyframes container-fade-in {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    1% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes container-fade-out {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    99% {
        transform: translateY(0%);
        opacity: 0;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes container-fade-out-delayed {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    99% {
        transform: translateY(0%);
        opacity: 0;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes dialogue-slide-in {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dialogue-slide-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}
