@import "~@sebgroup/bootstrap/scss/bootstrap";
@import url("../../node_modules/highlight.js/styles/vs2015.css");
@import "./shared/variable";
div.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: $white;
    display: grid;
    display:-ms-grid;
    grid-template-areas: "aside main";
    grid-template-columns: auto 1fr;
    -ms-grid-columns: auto 1fr;
    @import "./components/common/common";
}
@import "./dark-mode";

.blue-svg {
    stroke: $blue;
}
