$transition-time: 300ms;
$icon-size: 20px;
$blue: #41b0ee;
$darkBlue1: #0092e1;
$darkBlue2: #007ac7;
$text: #444444;
$grey6: #999999;
$grey7: #b3b3b3;
// $grey8: #e6e6e6;
$grey9: #f6f6f6;

@mixin transform($props) {
    -webkit-transform: $props;
    -moz-transform: $props;
    -o-transform: $props;
    -ms-transform: $props;
    transform: $props;
}

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

.custom-dropdown {
    > .custom-dropdown-toggle {
        padding: 0px;
        height: 44px;
        min-width: 230px;
        border-color: $grey6;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;

        > .title {
            font-weight: normal;
            color: $text;
        }

        > .right-items {
            display: flex;
            > .icon-holder {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 44px;
                width: 44px;

                > svg {
                    width: $icon-size;
                    height: $icon-size;
                    fill: $darkBlue1;
                }

                &.chevron {
                    > svg {
                        will-change: transform;
                        @include transition($transition-time);
                    }
                }
            }
        }

        &:hover {
            border-color: $blue;
            background-color: white;
        }

        &.open {
            > .right-items > .icon-holder {
                &.chevron {
                    > svg {
                        @include transform(rotate(180deg));
                    }
                }
            }
        }

        &:focus {
            border-color: $darkBlue2;
            box-shadow: none;
            background-color: white;
            &:active {
                color: $text;
                border-color: $darkBlue2;
                box-shadow: none;
                background-color: white;
            }
        }
    }

    > .custom-dropdown-menu {
        border-radius: 4px;
        border: 1px solid $darkBlue2;
        margin: 4px 0px 14px 0px;

        > .dropdown-divider {
            margin: 0px;

            &.blue {
                border-color: $darkBlue2;
            }
        }

        > .search-input {
            height: 44px;
            padding: 0px 0px 0px 16px;
            border: none;
            outline: none;
        }

        > .custom-dropdown-item {
            display: flex;
            padding-left: 16px;

            &.multi {
                .custom-control {
                    .custom-control-label,
                    .custom-control-input {
                        cursor: pointer;
                        user-select: none;
                        &::before {
                            border-color: $darkBlue2;
                            background-color: white;     
                        }
                        &::after {
                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                        }
                    }
                }
            }

            &:focus {
                &:not(:hover) {
                    color: $text;
                    background-color: white;
                }
            }

            &:hover {
                .custom-control {
                    .custom-control-label {
                        color: white;
                    }
                }
            }

            &.selected {
                .custom-control {
                    .custom-control-label,
                    .custom-control-input {
                        &::before {
                            background-color: $darkBlue2;     
                        }
                    }
                }

                &:not(:hover) {
                    background-color: white;
                    color: $darkBlue2;

                    &.multi { 
                        color: $text;
                    }
                }

                &:hover {
                    // font-weight: 500;
                    background-color: $darkBlue2;

                    .custom-control {
                        .custom-control-label,
                        .custom-control-input {
                            &::before {
                                border-color: white;
                            }
                        }
                    }    
                }
            }
        }
    }

    &.disabled {
        > .dropdown-label {
            color: $grey7;
        }

        > .custom-dropdown-toggle {
            border-color: $grey7;
            background-color: $grey9;
            cursor: default;

            > .title {
                color: $grey7;
            }

            > .right-items > .icon-holder > svg {
                fill: $grey7;
            }
        }
    }
}
