@import "../colours";
$arrow-size: 8px;
$icon-size: 25px;
$tooltip-distance: 4px;
@mixin theme($background-color, $font-color) {
    .tooltip-inner {
        background-color: $background-color;
        color: $font-color;
    }

    .tooltip-arrow {
        &:before {
            background-color: $background-color;
        }

        &:after {
            border-color: transparent transparent $background-color $background-color;
        }
    }
}
@mixin arrow-position {
    >.tooltip {
        >.tooltip-arrow {
            @content;
        }
    }
}
.tooltip-container {
    position: relative;
    .tooltip-reference {
        position: relative;
        margin: auto;
        display: inline-block;
        z-index: 0;
        cursor: pointer;
        .icon {
            height: $icon-size;
            width: $icon-size;
    
            svg {
                width: 100%;
                height: 100%;
                pointer-events: none;
                vertical-align: top;
            }
        }
    }
}
.overlay-container {
    .tooltip {
        position: relative;
        >.tooltip-arrow {
            position: absolute;
            display: block;
            width: 13px;
            overflow: hidden;
            background: transparent;
            pointer-events: none;
            height: 0;
            opacity: 0;
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                width: 15px;
                height: 15px;
                margin: auto;
                content: '';
                pointer-events: auto;
            }
        }
        >.tooltip-inner {
            padding: 8px 10px;
            position: relative;
            max-width: 300px;
            max-height: 500px;
            overflow: auto;
            height: 0;
            opacity: 0;
            >.message-container {
                min-width: 120px;
                padding: 5px 10px 10px;
                text-align: center;
    
                .title {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
    
                .message-list-item:not(:first-child) {
                    margin-top: 10px;
                }
    
                .message {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }
        }
        // Themes
        &.default {
            @include theme($black, $white);
        }

        &.light {
            @include theme($gray-200, $black);
        }

        &.danger {
            @include theme($red, $white);
        }

        &.warning {
            @include theme($yellow, $white);
        }

        &.success {
            @include theme($green, $white);
        }

        &.primary {
            @include theme($blue, $white);
        }

        &.purple {
            @include theme($purple, $white);
        }
    }
    
    &.left, &.right {
        @include arrow-position {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &.left-bottom, &.right-bottom {
        @include arrow-position {
            bottom: 5px;
        }
    }
    &.left-top, &.right-top {
        @include arrow-position {
            top: 5px;
        }
    }
    &.top, &.bottom {
        @include arrow-position {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.top-left, &.bottom-left {
        @include arrow-position {
            left: 5px;
        }
    }
    &.top-right, &.bottom-right {
        @include arrow-position {
            right: 5px;
        }
    }
    &.top,
    &.top-left,
    &.top-right {
        padding-bottom: $tooltip-distance;
        @include arrow-position {
            bottom: -8px;
            &::before {
                transform: translateY(-6.53553391px) rotate(45deg);
            }
        }
    }

    &.right,
    &.right-top,
    &.right-bottom {
        padding-left: $tooltip-distance;
        @include arrow-position {
            left: -8px;
            &::before {
                transform: translateX(6.53553391px) rotate(45deg);
            }
        }
    }

    &.bottom,
    &.bottom-left,
    &.bottom-right {
        padding-top: $tooltip-distance;
        @include arrow-position {
            top: -8px;
            &::before {
                transform: translateY(6.53553391px) rotate(45deg);
            }
        }
    }

    &.left,
    &.left-top,
    &.left-bottom {
        padding-right: $tooltip-distance;
        @include arrow-position {
            right: -8px;
            &::before {
                transform: translateX(-6.53553391px) rotate(45deg);
            }
        }
    }
    &.show, &:focus {
        >.tooltip {
            >.tooltip-arrow {
                height: 13px;
                opacity: 1;
            }
            >.tooltip-inner {
                height: auto;
                opacity: 1;
            }
        }
    }
}