@import "variables";

.doc-page {
    margin-top: 3rem;

    ::ng-deep .nav-tabs.doc-page-tabs {
        margin-bottom: 2rem;
    }

    &.centered-example {
        ::ng-deep .example {
            justify-content: center;
        }
    }
    > .doc-page-tabs {
        margin-bottom: 2rem;
    }
    > .card {
        border-radius: $border-radius;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    table.apis {
        margin: 0;
    }

    @import "playground";
}
