@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

.custom-tabs {
    .nav-tabs {
        .nav-item {
            &:not(.active) {
                .nav-link {
                    color: $blue;
                    cursor: pointer;
                }
            }
            &.disabled {
                .nav-link {
                    cursor: default;
                    color: $gray-600;
                }
            }
        }
    }
}
