@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

$transition-time: 100ms;

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

.custom-progress {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    background-color: $gray-300;
    overflow: hidden;
    min-height: 6px;
    border-radius: 3px;
    .custom-progress-text {
        position: absolute;
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
        text-align: center;
        top: 0px;
        bottom: 0;
        left: 0;
        width: 100%;
        color: black;
        will-change: color;
        @include transition(color $transition-time * 2);
        &.white {
            color: white;
        }
    }
    .custom-progress-bar {
        overflow: hidden;
        position: relative;
        background-color: $green;
        min-height: 6px;
        &.show-progress {
            height: 18px;
        }
    }
}
