$default: 14px;
$standard: 16px;
$blue: #0092e1;
$blue-dark: #007ac7;
$blue-darker: #05578c;
.custom-breadcrumb {
    ol.breadcrumb {
        li.breadcrumb-item {
            font-size: $standard;
            &:not(.active) {
                color: $blue;
                cursor: pointer;
                > svg {
                    fill: $blue;
                    width: $standard;
                    height: $standard;
                }
                &:hover {
                    color: $blue-darker;
                    >svg {
                        fill: $blue-darker;
                    }
                }
            }
        }
    }
}
