@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

.custom-breadcrumb {
    ol.breadcrumb {
        li.breadcrumb-item {
            font-size: $font-size-base;
            &:not(.active) {
                color: $blue;
                cursor: pointer;
                > svg {
                    fill: $blue;
                    width: $font-size-base;
                    height: $font-size-base;
                }
                &:hover {
                    color: $blue-darker;
                    > svg {
                        fill: $blue-darker;
                    }
                }
            }
        }
    }
}
