$transparent-black: rgba(0, 0, 0, 0.4);
$white: #fff;
$green: #60cd18;
$gray-300: #dedede;

@mixin animation($props) {
    -webkit-animation: $props;
    -moz-animation: $props;
    -o-animation: $props;
    animation: $props;
}

.loaderWrapper {
    .loader-holder {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        .loader {
            border-width: 10px;
            border-style: solid;
            border-color: $green $gray-300 $gray-300;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            @include animation(rotate 1s linear infinite);
            margin: 0 auto;
        }
    }
    &.fullscreen {
        .loader-holder {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $transparent-black;
            z-index: 999;
            .loader {
                vertical-align: middle;
                border-color: $green $white $white;
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}