@import "../colours";
$transparent-black: rgba(0, 0, 0, 0.4);

$loader-xs-size: 40px;
$loader-sm-size: 80px;
$loader-md-size: 120px;
$loader-lg-size: 160px;
$loader-xl-size: 200px;

$btn-sm-size: 10px;
$btn-md-size: 15px;
$btn-lg-size: 20px;
// $btn-lg-size: 25px;
// $btn-xl-size: 30px;

//mixins
@mixin displayFlex {
    display: -ms-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
@mixin flexCenter {
    justify-content: center;
    align-items: center;
}

@mixin setSpinnerThickness($size) {
    div.seb-loader-container > div.seb-loader-rotator div.seb-loader-circle {
        border-width: $size;
    }
}

@mixin setSpinnerColor($color, $hover: $red) {
    div.seb-loader-container > div.seb-loader-rotator div.seb-loader-circle {
        border-color: $color $color transparent;
        border-right-color: transparent;
    }
}

@mixin animation($props) {
    -webkit-animation: $props;
    -moz-animation: $props;
    -o-animation: $props;
    animation: $props;
}

@mixin setButtonLoaderTheme($color, $hoverColor) {
    &:hover {
        .seb-loader-wrapper {
            .seb-loader {
                .seb-loader-container {
                    > .seb-loader-rotator {
                        > .seb-loader-left,
                        > .seb-loader-right {
                            > .seb-loader-circle {
                                border-color: $hoverColor $hoverColor transparent;
                                border-right-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    .seb-loader-wrapper {
        .seb-loader {
            .seb-loader-container {
                > .seb-loader-rotator {
                    > .seb-loader-left,
                    > .seb-loader-right {
                        > .seb-loader-circle {
                            border-color: $color $color transparent;
                            border-right-color: transparent;
                        }
                    }
                }
            }
        }
    }
}

.seb-loader-wrapper {
    @include displayFlex;
    @include flexCenter;
    &.fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $transparent-black;
        z-index: 10;
    }
    &:not(.fullscreen) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    > .seb-loader {
        position: relative;
        pointer-events: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        @include displayFlex;
        @include flexCenter;
        &.loader-sm {
            max-width: $loader-xs-size;
            max-height: $loader-xs-size;
            @include setSpinnerThickness(3px);
        }

        &.loader-md {
            max-width: $loader-sm-size;
            max-height: $loader-sm-size;
        }

        &.loader-lg {
            max-width: $loader-md-size;
            max-height: $loader-md-size;
            @include setSpinnerThickness(8px);
        }

        .seb-loader-container {
            pointer-events: none;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            @include animation(seb-loader-linspin 1568.23529647ms linear infinite);
            > .seb-loader-rotator {
                position: absolute;
                width: 100%;
                height: 100%;
                @include animation(seb-loader-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both);

                > .seb-loader-left,
                > .seb-loader-right {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    overflow: hidden;

                    > .seb-loader-circle {
                        box-sizing: border-box;
                        position: absolute;
                        width: 200%;
                        height: 100%;
                        border-style: solid;
                        border-color: $green $green transparent;
                        border-radius: 50%;
                        border-width: 6px;
                    }
                }

                > .seb-loader-left {
                    right: 49%;

                    > .seb-loader-circle {
                        left: 0;
                        right: -100%;
                        border-right-color: transparent;
                        @include animation(seb-loader-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both);
                    }
                }

                > .seb-loader-right {
                    left: 49%;

                    > .seb-loader-circle {
                        left: -100%;
                        right: 0;
                        border-left-color: transparent;
                        @include animation(seb-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both);
                    }
                }
            }
        }
    }
}

button.btn {
    .seb-loader-wrapper {
        position: relative;
        margin-left: 10px;
        width: 18px;
        height: 18px;
        > .seb-loader {
            @include setSpinnerThickness(2px);
        }
    }
    &.btn-primary,
    &.btn-danger {
        .seb-loader-wrapper > .seb-loader {
            @include setSpinnerColor($white);
        }
    }
    &.btn-secondary,
    &.btn-outline-primary {
        .seb-loader-wrapper > .seb-loader {
            @include setSpinnerColor($blue-dark);
        }
        &:not(:disabled):hover .seb-loader-wrapper > .seb-loader {
            @include setSpinnerColor($white);
        }
    }
    &.btn-ghost-dark {
        .seb-loader-wrapper > .seb-loader {
            @include setSpinnerColor($black);
        }
        &:not(:disabled):hover .seb-loader-wrapper > .seb-loader {
            @include setSpinnerColor($white);
        }
    }
    &.btn-ghost-light {
        .seb-loader-wrapper > .seb-loader {
            @include setSpinnerColor($white);
        }
        &:not(:disabled):hover .seb-loader-wrapper > .seb-loader {
            @include setSpinnerColor($black);
        }
    }
    &.btn-anchor {
        .seb-loader-wrapper > .seb-loader {
            @include setSpinnerColor($blue-dark);
        }
    }
}

.form-group.input-box-group > .input-group > .input-box-group-wrapper .input-group-text {
    > .seb-loader-wrapper {
        > .seb-loader {
            width: 50%;
            height: 50%;
            @include setSpinnerColor($blue);
            @include setSpinnerThickness(3px);
        }
    }
}

@-webkit-keyframes seb-loader-linspin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes seb-loader-linspin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes seb-loader-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes seb-loader-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    87.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes seb-loader-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes seb-loader-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@-webkit-keyframes seb-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes seb-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}
