$green: #60cd18;
$green-dark: #45B400;
$green-darker: #379D00;
$blue: #41B0EE;
$blue-dark: #0092E1;
$blue-darker: #007AC7;
$white: #fff;
$gray-200: #e9e9e9 !default; // #e9ecef !default;
$transition-time: 300ms;
$default: 14px;
$standard: 16px;
$header-size: 20px;
$icon-size: 30px;
@mixin transform($props) {
    -webkit-transform: $props;
    -moz-transform: $props;
    -o-transform: $props;
    -ms-transform: $props;
    transform: $props;
}

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

@mixin user-select($prop) {
    -webkit-user-select: $prop;
    -moz-user-select: $prop;
    -ms-user-select: $prop;
    user-select: $prop;
}

.custom-accordion {
    position: relative;
    .accordion-item {
        position: relative;
        border-bottom: 1px solid $gray-200;
        border-left: 3px solid $white;
        padding: 5px 0;
        min-height: 50px;
        &:first-child {
            border-top: 1px solid $gray-200;
        }
        .header-wrapper {
            position: relative;
            display: block;
            padding: 5px 10px 5px 35px;
            cursor: pointer;
            >svg {
                position: absolute;
                width: 30px;
                height: 30px;
                left: 0px;
                fill: $blue-dark;
                will-change: transform;
                @include transition($transition-time);
            }
            .accordion-category {
                display: inline-block;
                font-size: $header-size;
                font-weight: 500;
                @include user-select(none);
            }
        }
        .content-wrapper {
            padding: 0;
            position: relative;
            overflow: hidden;
            .text-wrapper {
                position: relative;
                padding: 0px 40px;
                max-height: 0;
                will-change: margin;
                opacity: 0;
                @include transition(all $transition-time ease);
                .text-item {
                    padding-bottom: 8px;
                    .accordion-title {
                        padding-top: 8px;
                        font-size: $standard;
                        font-weight: 500;
                    }
                    .accordion-desc {
                        padding-top: 5px;
                        font-size: $default;
                    }
                }
            }
        }
        &.active {
            border-left: 3px solid $green;
            .header-wrapper {
                >svg {
                    @include transform(rotate(90deg));
                }
            }
            .content-wrapper {
                .text-wrapper {
                    opacity: 1;
                    max-height: 10000px;
                }
            }
        }
    }
}