$blue-dark: #0092e1;
$white: #fff;
$gray-8: #e6e6e6 !default;
$gray-background: #f5f5f5;
$transition-time: 300ms;
$default: 14px;
$standard: 16px;
$header-font-size: 20px;
$sub-header-size: 14px;
$icon-size: 20px;
$padding-left-size: 48px;
$alternate-padding-left-size: 30px;
$accordion-min-height: 48px;

@mixin transform($props) {
    -webkit-transform: $props;
    -moz-transform: $props;
    -o-transform: $props;
    -ms-transform: $props;
    transform: $props;
}

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

@mixin user-select($prop) {
    -webkit-user-select: $prop;
    -moz-user-select: $prop;
    -ms-user-select: $prop;
    user-select: $prop;
}

.custom-accordion {
    position: relative;
    background-color: $white;
    .accordion-item {
        position: relative;
        border-bottom: 1px solid $gray-8;
        &:hover {
            background-color: $gray-background;
        }
        &:first-child {
            border-top: 1px solid $gray-8;
        }
        .header-wrapper {
            position: relative;
            display: block;
            cursor: pointer;
            min-height: $accordion-min-height;

            &.with-sub-header {
                min-height: 64px;
            }
            > svg {
                position: absolute;
                width: $icon-size;
                height: $icon-size;
                fill: $blue-dark;
                will-change: transform;
                @include transition((transform $transition-time, opacity $transition-time));
                top: 14px;
                &:last-of-type:not(:first-of-type) {
                    opacity: 0;
                    transform: rotate(180deg);
                }
            }
            .accordion-header {
                display: block;
                font-weight: 500;
                padding-top: 5px;
                @include user-select(none);
                line-height: 28px;
                margin: 0;
            }
            .accordion-sub-header {
                display: block;
                @include user-select(none);
                margin: 0;
                margin-bottom: 10px;
            }
        }
        .content-wrapper {
            padding: 0;
            position: relative;
            overflow: hidden;
            .text-wrapper {
                position: relative;
                padding: 0px $padding-left-size;
                max-height: 0;
                will-change: margin;
                opacity: 0;
                @include transition(all $transition-time ease);
                .text-item {
                    &:not(:last-child) {
                        padding-bottom: 8px;
                    }
                    .accordion-title {
                        font-size: $standard;
                        font-weight: 500;
                    }
                    .accordion-desc {
                        padding-top: 5px;
                        font-size: $default;
                    }
                }
            }
        }
        &.right {
            .header-wrapper {
                padding: 5px $padding-left-size 5px 10px;
                > svg {
                    right: 15px;
                }
            }
        }
        &.left {
            .header-wrapper {
                padding: 5px 10px 5px $padding-left-size;
                > svg {
                    left: 15px;
                }
            }
        }
        &.deg-90 {
            .header-wrapper >svg:last-of-type:not(:first-of-type) {
                @include transform(rotate(-90deg));
            }
        }
        &.deg-90-counter {
            .header-wrapper >svg:last-of-type:not(:first-of-type) {
                @include transform(rotate(90deg));
            }
        }
        &.deg-180 {
            .header-wrapper >svg:last-of-type:not(:first-of-type) {
                @include transform(rotate(-18deg0));
            }
        }
        &.deg-180-counter {
            .header-wrapper >svg:last-of-type:not(:first-of-type) {
                @include transform(rotate(180deg));
            }
        }
        &.active {
            >.content-wrapper {
                padding-bottom: 18px;
            }
            &.deg-90 {
                .header-wrapper > svg:first-of-type {
                    @include transform(rotate(90deg));
                }
            }
            &.deg-90-counter {
                .header-wrapper > svg:first-of-type {
                    @include transform(rotate(-90deg));
                }
            }
            &.deg-180 {
                .header-wrapper > svg:first-of-type {
                    @include transform(rotate(180deg));
                }
            }
            &.deg-180-counter {
                .header-wrapper > svg:first-of-type {
                    @include transform(rotate(-180deg));
                }
            }
            .header-wrapper > svg:last-of-type:not(:first-of-type) {
                transform: rotate(0);
                opacity: 1;
            }
            &.transform {
                .header-wrapper > svg:first-of-type:not(:last-of-type) {
                    opacity: 0;
                }
            }
            .content-wrapper {
                .text-wrapper {
                    opacity: 1;
                    max-height: 10000px;
                }
            }
        }
    }
    &.alternate-accordion {
        >.accordion-item {
            border-bottom: 0;
            &:hover {
                background-color: transparent;
                .accordion-header {
                    text-decoration: underline;
                }
            }
            &:first-child {
                border-top: 0;
            }
            >.header-wrapper {
                min-height: auto;
                >.accordion-header {
                    font-size: $standard;
                    color: $blue-dark;
                    padding: 0;
                }
                > svg {
                    top: 5px;
                    width: $default;
                }
                &.alternate-header {
                    > svg {
                        @include transform(rotate(-90deg));
                    }
                }
            }
            &.right {
                >.header-wrapper {
                    padding: 0 $padding-left-size 0 10px;
                    > svg {
                        right: 15px;
                    }
                }
                >.content-wrapper {
                    >.text-wrapper {
                        padding: 0 $alternate-padding-left-size 0 10px;
                    }
                }
            }
            &.left {
                >.header-wrapper {
                    padding: 0 10px 0 $alternate-padding-left-size;
                    > svg {
                        left: 5px;
                    }
                }
                >.content-wrapper {
                    >.text-wrapper {
                        padding: 0 $alternate-padding-left-size;
                    }
                }
            }
        }
    }
}
