$red: #f03529;
$grey6: #999999;
$blue: #41b0ee;
$darkBlue1: #0092e1;
$darkBlue2: #007ac7;
$text: #444444;

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}
$transition-time: 200ms;
.form-group.input-box {
    > .input-field {
        > input.form-control {
            color: $text;
            border: 1px solid $grey6;
            @include transition(border $transition-time / 2);
            &:not(:disabled) {
                &:hover {
                    border-color: $blue;
                    background-color: white;
                }
                &:focus {
                    border-color: $darkBlue2;
                    box-shadow: none;
                    background-color: white;
                    &:active {
                        border-color: $darkBlue2;
                        box-shadow: none;
                        background-color: white;
                    }
                }
            }
        }
        > .alert {
            opacity: 0;
            margin: 0;
            padding: 0;
            background: transparent;
            max-height: 0;
            border: none;
            border-radius: 0px;
            overflow: hidden;
            width: 100%;
            @include transition((opacity $transition-time, padding $transition-time, max-height $transition-time * 2));
            &.alert-danger {
                color: $red;
            }
        }
        &.has-error {
            > input.form-control {
                border-bottom: 1px solid $red;
                &:hover,
                &:focus,
                &:focus:active {
                    border-bottom: 2px solid $red;
                }
            }
            > .alert {
                opacity: 1;
                padding-top: 2px;
                max-height: 100px;
            }
        }
    }
}
