@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

$transition-time: 200ms;

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

.form-group.input-box {
    > .input-field {
        > input.form-control {
            @import "../../node_modules/@sebgroup/bootstrap/scss/variables";
            color: $body-color;
            border: 1px solid $gray-500;
            @include transition(border $transition-time / 2);
            &:not(:disabled) {
                &:hover {
                    border-color: $blue;
                    background-color: $white;
                }
                &:focus {
                    border-color: $blue-darker;
                    box-shadow: none;
                    background-color: $white;
                    &:active {
                        border-color: $blue-darker;
                        box-shadow: none;
                        background-color: $white;
                    }
                }
            }
        }
        > .alert {
            opacity: 0;
            margin: 0;
            padding: 0;
            background: transparent;
            max-height: 0;
            border: none;
            border-radius: 0px;
            overflow: hidden;
            width: 100%;
            @include transition((opacity $transition-time, padding $transition-time, max-height $transition-time * 2));
            &.alert-danger {
                color: $red;
            }
        }
        &.has-error {
            > input.form-control:not(:disabled) {
                border-bottom: 2px inset $red;
            }
            > .alert {
                opacity: 1;
                padding-top: 2px;
                max-height: 100px;
            }
        }
        &.success {
            > input.form-control:not(:disabled) {
                border-bottom: 2px inset $green;
            }
        }
    }
}
