$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #868686;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;
$blue: #41B0EE;
$blue-dark: #0092E1;
$blue-darker: #007AC7;
$white: #fff;
$black: #000;
$yellow-darker: #F8A000;
$yellow-dark: #FFB400;
$yellow: #FFC500;
$transition-time: 200ms;
$transparent: transparent;
@mixin no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

.form-group.custom-stepper {
    display: inline-block;
    label.custom-label:not(.form-check-label):not(.custom-checkbox):not(.custom-radio):not(.custom-control-label) {
        display: block;
        margin-bottom: 4px;
        line-height: 1;
        font-size: 12px;
        font-weight: normal;
    }
    .stepper-container {
        height: 30px;
        border-radius: 4px;
        overflow: hidden;
        padding: 0;
        &:not(.disabled) {
            background-color: $white;
            .stepper-decrement,
            .stepper-increment {
                &:not(.disabled) {
                    cursor: pointer;
                    color: $blue-dark;
                    &:hover {
                        background-color: $blue;
                        color: $white;
                    }
                }
                &.disabled {
                    background-color: $gray-200;
                    color: $gray-500;
                }
            }
            &:hover {
                border-color: $blue;
            }
        }
        [class^=stepper-] {
            display: inline-block;
            height: 100%;
            vertical-align: top;
            @include no-user-select;
        }
        .stepper-decrement,
        .stepper-increment {
            padding: 0 10px;
            font-size: 25px;
            line-height: 24px;
            will-change: background-color, color;
            @include transition((background-color $transition-time, color $transition-time));
        }
        .stepper-increment {
            border: 1px solid $gray-500;
            border-left: none;
            border-radius: 0 4px 4px 0;
        }
        .stepper-decrement {
            border: 1px solid $gray-500;
            border-right: none;
            border-radius: 4px 0px 0px 4px;
        }
        .stepper-preview {
            line-height: 27px;
            width: 65px;
            text-align: center;
            border: 1px solid $gray-500;
            border-right: none;
            border-left: none;
        }
        &.disabled {
            background-color: $gray-300;
        }
        &.has-warning,
        &.has-warning:hover {
            border-bottom: 1px solid $yellow-darker;
        }
    }
    .stepper-input {
        display: none;
    }
    .alert {
        padding: 5px;
        background: $transparent;
        &.alert-danger {
            border-color: #F03529;
            color: #F03529;
        }
        &.alert-warning {
            border-color: #F8A000;
            color: #F8A000;
        }
    }
}