@import "../colours";
$transition-time: 200ms;
$transparent: transparent;
$stepper-font-size: 24px;

@mixin no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

.form-group.custom-stepper {
    display: inline-block;
    .stepper-container {
        height: 44px;
        border-radius: 4px;
        overflow: hidden;
        padding: 0;
        &:not(.disabled) {
            background-color: $white;
            border: 1px solid $grey-6;
            .stepper-decrement,
            .stepper-increment {
                &:not(.disabled) {
                    cursor: pointer;
                    color: $blue-dark;
                    &:hover {
                        background-color: $blue;
                        color: $white;
                    }
                    &:active {
                        background-color: $blue-dark;
                    }
                }
                &.disabled {
                    background-color: $gray-200;
                    color: $gray-500;
                }
            }
            &:hover {
                border-color: $blue;
            }
        }
        &.disabled {
            background-color: $grey-8;
            border: 1px solid $grey-7;
            [class^=stepper-] {
                color: $grey-7;
            }
        }
        [class^=stepper-] {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            vertical-align: top;
            @include no-user-select;
        }
        .stepper-decrement,
        .stepper-increment {
            padding: 0 10px;
            will-change: background-color, color;
            @include transition((background-color $transition-time, color $transition-time));
            padding-bottom: 3px;
            font-size: 38px;
            font-weight: 100;
            line-height: 0;
            border: none;
            background: transparent;
            border: 1px solid transparent;
            outline: none;
            box-shadow: none;
            &:focus {
                border-color: $blue;
            }
            >span {
                padding-bottom: 5px;
            }
        }
        .stepper-preview {
            min-width: 64px;
            text-align: center;
            font-size: $stepper-font-size;
        }
        &.has-warning,
        &.has-warning:hover {
            border-bottom: 1px solid $yellow-darker;
        }
    }
    .stepper-input {
        display: none;
    }
    .alert {
        padding: 5px;
        background: $transparent;
        &.alert-danger {
            border-color: #F03529;
            color: #F03529;
        }
        &.alert-warning {
            border-color: #F8A000;
            color: #F8A000;
        }
    }
}
