$gray-200: #e9e9e9 !default;
$gray-300: #dedede !default;
$gray-400: #cecece !default;
$gray-500: #adadad !default;
$gray-600: #868686 !default;
$gray-700: #494949 !default;
$gray-800: #343434 !default;
$gray-900: #212121 !default;

$icon-color: $gray-700;
$icon-active-color: #007ac7;
$sort-icon-hover-color: #41b0ee;

$sort-icon-width: 15px;

table {
  &.table {
    thead {
      > tr {
        > th {
          &:first-child {
            border-bottom: none;
          }

          .custom-control {
            position: relative;
            display: block;
            min-height: 1.5rem;

            &.custom-checkbox {
              input[type="checkbox"] {
                box-sizing: border-box;
                padding: 0;
              }

              .custom-control-label {
                position: relative;
                margin-bottom: 0;
                vertical-align: top;
              }

              .custom-control-input {
                position: absolute;
                z-index: -1;
                opacity: 0;
              }
            }
          }

          .icon-holder {
            height: calc(#{$sort-icon-width} * 2);
            vertical-align: middle;
            position: relative;
            margin-left: 5px;
            > .angle-up,
            > .angle-down {
              position: relative;
              width: $sort-icon-width;
              height: $sort-icon-width;
              cursor: pointer;
              svg {
                display: block;
                width: 100%;
                height: 100%;
                fill: $icon-color;

                &:hover {
                  fill: $sort-icon-hover-color;
                }
              }

              &.active {
                svg {
                  fill: $icon-active-color;
                }
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          white-space: nowrap;
          &.row-selections-column {
            display: flex;
            flex-direction: row;
            align-items: center;

            > .icon-holder {
              cursor: pointer;
            }
          }

          .action-icon-holder {
            svg {
              max-height: 20px;
            }
          }
        }
      }
    }
  }
}
