table {
    &.table {
        thead {
            >tr {
                >th {
                    .icon-holder {
                        height: 30px;
                        svg {
                            display: block;
                            width: 100%;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }

}