$red: #f03529;
$gray-500: #adadad !default;;
$blue: #41b0ee;
$blue-darker: #007AC7;
$body-color: #444 !default;

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

$transition-time: 200ms;
.form-group.text-area {
    > .input-field {
        > textarea.form-control {
            color: $body-color;
            border-color: $gray-500;
            @include transition(border $transition-time / 2);
            &:not(.resizable) {
                resize: none;
            }
            &:not(:disabled) {
                &:hover {
                    border-color: $blue;
                    background-color: white;
                }
                &:focus {
                    border-color: $blue-darker;
                    box-shadow: none;
                    background-color: white;
                    &:active {
                        border-color: $blue-darker;
                        box-shadow: none;
                        background-color: white;
                    }
                }
            }
        }
        > .alert {
            opacity: 0;
            margin: 0;
            padding: 0;
            background: transparent;
            max-height: 0;
            border: none;
            border-radius: 0px;
            overflow: hidden;
            width: 100%;
            @include transition((opacity $transition-time, padding $transition-time, max-height $transition-time * 2));
            &.alert-danger {
                color: $red;
            }
        }
        &.has-error {
            > textarea {
                border-bottom: 1px solid $red;
                &:hover,
                &:focus,
                &:focus:active {
                    border-bottom: 2px solid $red;
                }
            }
            > .alert {
                opacity: 1;
                padding-top: 2px;
                max-height: 100px;
            }
        }
    }
}
