@import "../../node_modules/@sebgroup/bootstrap/scss/variables";

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

.custom-timepicker {
    display: inline-block;
    > [class*="timepicker-"] {
        display: inline-block;
        position: relative;
        text-align: center;
        margin: 0 2px;
        .timepicker-input {
            width: 40px;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            box-shadow: none;
            border: 1px solid $white;
            text-align: center;
            &:active {
                box-shadow: none;
            }
            &::-webkit-inner-spin-button,
            &::-webkit-textfield-decoration-container {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            -webkit-appearance: none;
            -moz-appearance: textfield;
            appearance: none;
        }
        > [class*="triangle-"] {
            cursor: pointer;
            border: 1px solid $white;
            position: relative;
            @include transition((background-color 200ms, border 200ms));
            svg {
                fill: $blue;
                position: relative;
                width: 30px;
                height: 30px;
                @include transition(color 200ms);
                &:hover {
                    color: $blue-darker;
                }
            }
            &:hover {
                background-color: $blue;
                border: 1px solid $blue;
                svg {
                    fill: $white;
                }
            }
            &:active {
                background-color: $blue-dark;
            }
        }
        .triangle-after {
            svg {
                top: 3px;
            }
        }
        &:hover {
            outline: 1px solid $blue;
        }
        &:last-child {
            .timepicker-input {
                background-color: $white;
                color: $black;
                cursor: default;
            }
        }
    }
}
