@mixin dark-transparent-to-bottom {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000', GradientType=0);
}

@mixin dark-transparent-to-top {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

$dark-transparent: rgba(0,0,0,0.6);
$default: 14px;
$white: #fff;
$black: #000;
.slick-slider {
    .slick-list {
        .slick-track {
            .slick-slide {
                .custom-carousel {
                    .carousel-slide {
                        position: relative;
                        >.carousel-img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .carousel-slide {
                            overflow-y: hidden;
                            background-color: $dark-transparent;
                            position: relative;
                        }
                        >.title {
                            @include dark-transparent-to-bottom;
                            position: absolute;
                            padding: 20px;
                            top: 0;
                            width: 100%;
                            text-align: left;
                            padding-left: 5px;
                            color: $white;
                            border: none;
                        }
                        >.desc {
                            @include dark-transparent-to-top;
                            color: $white;
                            width: 100%;
                            font-size: $default;
                            text-align: left;
                            padding: 5px 5px 20px 5px;
                            word-wrap: break-word;
                            position: absolute;
                            bottom: 0;
                            margin: 0px;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .slick-arrow {
        z-index: 2;
        &::before {
            display: none;
        }
        width: 27px;
        height: 44px;
        background-repeat: no-repeat;
        &.slick-prev {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
            left: 10px;
        }
        &.slick-next {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
            right: 10px;
        }
        &.slick-disabled {
            opacity: 0.35;
        }
    }
}