@import "~@sebgroup/bootstrap/scss/core";
@import "./variables";

.code-snippet {
    position: relative;
    width: 100%;

    &.angular pre {
        box-shadow: $shadow;
        border-radius: 0 !important;
        margin-bottom: 1rem;
    }

    &:not(.angular) {
        pre {
            border-radius: $border-radius !important;
            overflow: hidden;
        }

        div.snippet-icon {
            border-top-right-radius: $border-radius;
        }
    }

    pre {
        margin: 0 !important;
        height: 100%;
        width: 100%;
        overflow: hidden;

        code {
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 0;
            > code {
                width: fit-content;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        &:hover {
            & + div.snippet-icon {
                opacity: 1;
            }
        }
    }

    div.snippet-icon {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        transition: opacity 200ms, color 200ms;
        padding: 5px 10px;

        &:hover {
            opacity: 1;
        }

        svg {
            margin-bottom: 2px;
        }

        &.copy {
            background-color: rgba(white, 0.4);
            cursor: pointer;
            &:hover {
                color: white;
            }
        }

        &.check {
            color: white;
            font-size: 1rem;
            background-color: rgba($green, 0.4);
        }
    }
}
