@import "~@sebgroup/bootstrap/scss/core";

footer {
    padding: 0.5rem 0 1rem;
    border-top: 1px solid $gray-300;
    > nav {
        flex-direction: row-reverse;
        > .navbar-brand {
            padding-right: 2rem;
            padding-left: 1rem;
            &:before {
                right: 0;
                left: auto;
            }
            > a {
                width: 3.5rem;
                height: 3.5rem;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.6rem;
            }
        }
    }
}
