@import "~@sebgroup/bootstrap/scss/core";
@import "variables";

.playground.card {
    padding: 0;
    border-radius: $border-radius;
    display: grid;
    margin-bottom: 1rem;
    background-color: darken($gray-100, 2%);
    box-shadow: $shadow;
    grid-template-columns: 2fr auto;
    grid-template-rows: auto 1fr;
    overflow: auto hidden;
    grid-template-areas:
        "nav apistitle"
        "example controls";

    > * {
        display: flex;
        align-items: center;
        margin: 0;
    }

    > .nav {
        padding: 0rem 0.8rem;
        background-color: $gray-300;
        border-top-left-radius: $border-radius;
        grid-area: nav;
        grid-column: 1;
        grid-row: 1;
        .nav-link {
            padding: 1.2rem 0;
            margin: 0 1rem;
            border-bottom: 4px solid transparent;
            font-size: $h4-font-size;
            &.active {
                border-bottom-color: $green-dark;
            }
            &:not(.active) {
                cursor: pointer;
            }
        }
    }

    > .apis-title {
        padding: 0.5rem 1.5rem;
        background-color: $gray-300;
        grid-area: apistitle;
        font-weight: 500;
        border-top-right-radius: $border-radius;
        border-left: 2px solid $gray-400;
        grid-column: 2;
        grid-row: 1;
    }

    > .example {
        padding: 1rem 1.5rem;
        grid-area: example;
        grid-column: 1;
        grid-row: 2;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        overflow: auto;

        > .content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            position: relative;
        }
    }

    > .code-snippet {
        grid-area: example;
        border-bottom-left-radius: $border-radius;
        overflow: hidden;
        grid-column: 1;
        grid-row: 2;
    }

    > .controls {
        display: block;
        overflow: auto;
        padding: 1rem;
        grid-area: controls;
        border-top-right-radius: $border-radius;
        border-left: 2px solid $gray-400;
        grid-column: 2;
        grid-row: 2;
        width: 350px;

        .indent {
            margin-left: 1.5rem;
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                background-color: $gray-700;
                left: 0;
            }
            &::before {
                width: 1px;
                height: 21px;
                top: 0;
            }
            &:after {
                width: 10px;
                height: 1px;
                top: 21px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .playground.card {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "example"
            "controls";
        > .apis-title {
            display: none;
        }
        > .controls {
            border-left: none;
            border-top: 2px solid $gray-400;
            border-top-right-radius: 0;
        }
    }
}
