@import "./mixins";

.tech-stack {
    > [class*="col"] {
        display: flex;
        flex-direction: column;
        > *:first-child {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
        .img {
            width: 100%;
            max-height: 400px;
            > a {
                width: 100%;
            }
        }
        h3,
        h5 {
            text-align: center;
        }
    }
}

@include IE-only {
    .tech-stack {
        > [class*="col"] {
            .img {
                height: 300px;
            }
        }
    }
}
