@import "../colours";
$default: 16px;
$transition-time: 200ms;
$form-element-height: 44px;
$radio-size: 16px;
$radio-padding-left: 40px;
@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}
.form-group.custom-radio {
    > .input-field {
        .custom-control {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 0;
            height: $form-element-height;
            > .custom-control-label,
            > .custom-control-input {
                cursor: pointer;
                user-select: none;
            }
            > .custom-control-input {
                &:focus,
                &:active {
                    & + label {
                        box-shadow: inset 0 0 0 0.1rem rgba(65, 176, 238, 0.5);
                    }
                }
                &:disabled ~ .custom-control-label {
                    > .radio-description {
                        color: $gray-400;
                    }
                }
            }
            > .custom-control-label {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: $radio-padding-left;
                padding-right: 16px;
                &:before,
                &:after {
                    left: ($radio-padding-left / 2) - ($radio-size / 2);
                    top: ($form-element-height / 2) - ($radio-size / 2);
                }
                &:after {
                    top: 12px;
                    left: 10px;
                    width: 1.26rem;
                    height: 1.26rem;
                }
                > .radio-description {
                    color: $gray-600;
                    display: inline-block;
                    margin-left: 8px;
                }
            }
        }
    }
    &.inline {
        display: inline-block;
        &:not(:first-child) {
            > .custom-control {
                margin-left: 15px;
            }
        }
    }
    &.condensed {
        margin: 0;
    }
}
