//colors
$red: #f03529;
$grey6: #999999;
$grey7: #b3b3b3;
$grey8: #e6e6e6;
$grey9: #f6f6f6;
$blue: #41b0ee;
$darkBlue1: #0092e1;
$darkBlue2: #007ac7;
$text: #444444;
@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

$transition-time: 200ms;
.form-group.input-box-group {
    position: relative;
    > .input-group {
        position: relative;
        > .input-box-group-wrapper {
            color: $text;
            will-change: border;
            @include transition(border $transition-time / 2);
            position: relative;
            width: 100%;
            height: 42px;
            border: 1px solid $grey6;
            border-radius: 4px;
            overflow: hidden;
            display: flex;
            align-items: center;
            &:hover {
                border-color: $blue;
                background-color: white;
            }
            &:focus-within {
                border-color: $darkBlue2;
                box-shadow: none;
                background-color: white;
                &:active {
                    border-color: $darkBlue2;
                    box-shadow: none;
                    background-color: white;
                }
            }
            > .input-group-prepend,
            > .input-group-append {
                position: relative;
                display: inline-flex;
                align-items: center;
                width: 40px;
                height: 42px;
                vertical-align: top;
                margin: 0;
                > .input-group-text {
                    position: relative;
                    border: 0;
                    background: none;
                    height: 42px;
                    width: 100%;
                    svg {
                        width: 16px;
                        height: 16px;
                        fill: black;
                    }
                }
                &.clickable {
                    cursor: pointer;
                    > .input-group-text {
                        color: $blue;
                        &:hover {
                            color: $darkBlue1;
                        }
                    }
                }
            }
            > div:only-of-type {
                & ~ input {
                    padding-left: 0;
                    width: calc(100% - 40px);
                }
            }
            > div:not(:only-of-type) {
                & ~ input {
                    padding-right: 0;
                    padding-left: 0;
                    width: calc(100% - 80px);
                }
            }
            > input.form-control {
                display: inline-block;
                z-index: 1;
                border: none;
                border-radius: 0;
                height: 42px;
                &:nth-child(1) {
                    padding-right: 0;
                    width: calc(100% - 40px);
                }
                &:focus {
                    box-shadow: none;
                }
                &::-webkit-inner-spin-button,
                &::-webkit-textfield-decoration-container {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }
        }
        &.has-error {
            > .input-box-group-wrapper {
                border-bottom: 1px solid $red;
                &:hover,
                &:focus,
                &:focus:active {
                    border-bottom: 2px solid $red;
                }
            }
            > .alert {
                opacity: 1;
                padding-top: 2px;
                max-height: 100px;
            }
        }
        &.disabled {
            .input-box-group-wrapper {
                background-color: $grey9;
                border-color: $grey7;    
                .input-group-prepend,
                .input-group-append,
                .form-control {
                    color: $grey7;
                    background-color: $grey9;
                }
                .input-group-prepend .input-group-text,
                .form-control,
                .input-group-append .input-group-text {
                    svg {
                        fill: $grey7;
                    }
                    color: $grey7;
                }
            }
        }
        > .alert {
            opacity: 0;
            margin: 0;
            padding: 0;
            background: transparent;
            max-height: 0;
            border: none;
            border-radius: 0px;
            overflow: hidden;
            width: 100%;
            @include transition((opacity $transition-time, padding $transition-time, max-height $transition-time * 2));
            &.alert-danger {
                color: $red;
            }
        }
    }
}
