//colors
$red: #F03529;
$red-darker: #BB000C;
$blue: #41B0EE;
$blue-darker: #007AC7;
$gray-200: #e9e9e9;
$gray-400: #cecece;
$gray-500: #adadad;
@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

$transition-time: 200ms;
.form-group.input-box-group {
    position: relative;
    >label.custom-label:not(.form-check-label):not(.custom-checkbox):not(.custom-radio):not(.custom-control-label) {
        display: block;
        margin-bottom: 4px;
        line-height: 1;
        font-size: 12px;
        font-weight: normal;
    }
    >.input-group {
        position: relative;
        >.input-box-group-wrapper {
            position: relative;
            width: 100%;
            height: 42px;
            border: 1px solid $gray-400;
            border-radius: 4px;
            overflow: hidden;
            display: flex;
            align-items: center;
            &:hover:not(.disabled) {
                border-color: $blue;
            }
            >.input-group-prepend,
            >.input-group-append {
                position: relative;
                display: inline-flex;
                align-items: center;
                width: 40px;
                height: 42px;
                vertical-align: top;
                margin: 0;
                >.input-group-text {
                    position: relative;
                    border: 0;
                    background: none;
                    height: 42px;
                    width: 100%;
                    svg {
                        width: 16px;
                        height: 16px;
                        fill: black;
                    }
                }
                &.clickable {
                    cursor: pointer;
                    >.input-group-text {
                        color: $blue;
                        svg {
                            fill: $blue;
                        }
                        &:hover {
                            color: $blue-darker;
                        }
                    }
                }
            }
            >div:only-of-type {
                &~input {
                    padding-left: 0;
                    width: calc(100% - 40px);
                }
            }
            >div:not(:only-of-type) {
                &~input {
                    padding-right: 0;
                    padding-left: 0;
                    width: calc(100% - 80px);
                }
            }
            >input.form-control {
                display: inline-block;
                z-index: 1;
                border: none;
                border-radius: 0;
                height: 42px;
                &:nth-child(1) {
                    padding-right: 0;
                    width: calc(100% - 40px);
                }
                &:focus {
                    box-shadow: none;
                }
                &::-webkit-inner-spin-button,
                &::-webkit-textfield-decoration-container {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }
        }
        &.has-error {
            >.input-box-group-wrapper {
                border-color: $red;
                &:hover:not(.disabled),
                &:focus:not(.disabled) {
                    border-color: $red-darker;
                }
            }
            >.alert {
                opacity: 1;
                padding-top: 2px;
                max-height: 100px;
            }
        }
        &.disabled {
            background-color: $gray-200;
            .input-box-group-wrapper {
                .input-group-prepend .input-group-text,
                .form-control,
                .input-group-append .input-group-text {
                    svg {
                        fill: $gray-500;
                    }
                    color: $gray-500;
                }
            }
        }
        >.alert {
            opacity: 0;
            margin: 0;
            padding: 0;
            background: transparent;
            max-height: 0;
            border: none;
            border-radius: 0px;
            overflow: hidden;
            width: 100%;
            @include transition((opacity $transition-time, padding $transition-time, max-height $transition-time*2));
            &.alert-danger {
                color: $red;
            }
        }
    }
}