// Bootstrap colors
// Grays
$white: #fff !default;
$gray-100: #f8f8f8 !default;
$gray-200: #e9e9e9 !default;
$gray-300: #dedede !default;
$gray-400: #cecece !default;
$gray-500: #adadad !default;
$gray-600: #868686 !default;
$gray-700: #494949 !default;
$gray-800: #343434 !default;
$gray-900: #212121 !default;
$black: #000 !default;
$transparent: transparent;
// Colors
$red:                   #F03529;
$red-dark:              #D81A1A;
$red-darker:            #BB000C;
$yellow:                #FFC500;
$yellow-dark:           #FFB400;
$yellow-darker:         #F8A000;
$green:                 #60cd18;
$green-dark:            #45B400;
$green-darker:          #379D00;
$blue:                  #41B0EE;
$blue-dark:             #0092E1;
$blue-darker:           #007AC7;
$purple:                #673AB6;
$purple-dark:           #4F2C99;
$purple-darker:         #3F2587;

// Design library colors
// Greys
$grey-9: #f6f6f6;
$grey-8: #e6e6e6;
$grey-7: #b3b3b3;
$grey-6: #999999;
$grey-5: #808080;
$grey-4: #666666;
$grey-3: #4d4d4d;
$grey-2: #333333;
$grey-1: #1a1a1a;
// Colors
$green-dark-1: $green-dark;
$green-dark-2: $green-darker;
$yellow-dark-1: $yellow-dark;
$yellow-dark-2: $yellow-darker;
$purple-dark-1: $purple-dark;
$purple-dark-2: $purple-darker;
$red-dark-1: $red-dark;
$red-dark-2: $red-darker;
$blue-dark-1: $blue-dark;
$blue-dark-2: $blue-darker;